HOST=localhost
PORT=3000

POSTGRES_USER=REPLACE_WITH_DATABASE_USERNAME
POSTGRES_PASSWORD=REPLACE_WITH_32_BYTE_RANDOM_SECRET
POSTGRES_DB=REPLACE_WITH_DATABASE_NAME

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=REPLACE_WITH_32_BYTE_RANDOM_SECRET
REDIS_DB=0

JWT_SECRET=REPLACE_WITH_32_BYTE_RANDOM_SECRET
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15

REFRESH_TOKEN_EXPIRE_DAYS=30
REFRESH_COOKIE_NAME=refresh_token
COOKIE_SECURE=false